// Colors
$white: #fff;
$iceberg: #f7f8fc;

// Typography
$font: -apple-system, "Open Sans", BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
