.main {
  display: flex;
  align-items: stretch;
}

.main__container {
  flex-grow: 9;
  padding: 2rem;
}

.main__delimiter {
  width: 1024px;
  margin: 0 auto;
}

.main__header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem;
}

.main__title {
  font-size: 2rem;
  line-height: normal;
  font-weight: 500;
}

.main__counter {
  font-size: 1.3rem;
  margin-left: 0.5rem;
}

.main__button-light {
  margin: 0 0.8rem 0 0;
}

.main__filter-icon {
  display: inline-block;
  margin: -0.2rem 0 0 0.5rem;
}

.main__plus-icon {
  display: inline-block;
  margin: -0.2rem 0 0 0.5rem;
}

.main__table {
  width: 100%;
}

.main__table-body {
  background-color: $white;
}

.main__table-header-row > th {
  padding: 0.7rem 0.7rem;
  font-weight: normal;
  font-size: 0.8rem;
  color: gray;
}

.main__table-header-checkbox {
  width: 5%;
}

.main__table-header-id {
  width: 10%;
}

.main__table-header-logo {
  width: 10%;
}

.main__table-header-name {
  width: 18%;
}

.main__table-header-budget {
  width: 15%;
}

.main__table-header-budget-spent {
  width: 17%;
}

.main__table-header-date {
  width: 20%;
}

.main__checkbox {
  font-size: 1.3rem;
}

.main__table-row {
  cursor: pointer;
  border-bottom: 1px solid $iceberg;
}

.main__table-row > td {
  padding: 0.3rem 0.7rem;
  font-size: 0.9rem;
  line-height: normal;
}

.main__row-logo {
  width: 2.3rem;
}

.main__row-action {
  width: 1rem;
  float: right;
}

.modal-content {
  border: 0;
  border-radius: 7px;
  box-shadow: 0 0 20px 40px #0000000d;

  .close {
    font-size: 2rem;
    font-weight: 400;
  }
}

.modal-header {
  padding-top: 2rem;
}

.modal__logo {
  width: 2.3rem;
  margin: 0 0.5rem 0 0;
  position: relative;
  top: -0.2rem;
}

.modal-header,
.modal-footer {
  border-color: $iceberg;
}

.modal__body {
  padding: 1rem 0 0.5rem;
}

.modal__label {
  margin: 7px 0 0;
  text-align: right;
}

.modal__check-icon {
  display: inline-block;
  margin: -0.2rem 0 0 0.5rem;
}

.modal__close-icon {
  display: inline-block;
  margin: -0.1rem 0 0 0.5rem;
  width: 0.9rem;
}
